{% extends 'LesAutresSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="show_infos">
        {{ include('LesAutresSiteBundle:Default:social.html.twig', {'url': app.request.scheme ~ '://' ~ app.request.httpHost ~ path('show', {'slug': show.slug})}) }}<br/>
        {% if image %}<img src="{{ image.webPath }}" alt="" class="picture" /><br/>{% endif %}
        {% if pdf %}<div class="center"><a href="{{ pdf.webPath }}"><img src="/images/icons/pdf.jpg" alt="pdf" /> Dossier</a></div>{% endif %}
    </div>
    <h1>{{ title }}</h1>
    {% if show.summary %}<h3>{{ show.summary }}</h3>{% endif %}
    {% if show.duration or show.actorCount or show.masterCount or show.playletCount %}
        <ul>
            {% if show.duration %}<li>Durée : {{ show.duration }}</li>{% endif %}
            {% if show.actorCount %}<li>{{ show.actorCount }} comédien{% if show.actorCount > 1 %}s{% endif %}</li>{% endif %}
            {% if show.masterCount %}<li>{{ show.masterCount }} meneur{% if show.masterCount > 1 %}s{% endif %} de jeu</li>{% endif %}
            {% if show.playletCount %}<li>{{ show.playletCount }} saynète{% if show.playletCount > 1 %}s{% endif %}</li>{% endif %}
        </ul>
    {% endif %}
    {{ show.text|raw }}
    {% if show.events %}
        <h2>Prochaines représentations</h2>
        {% for event in show.events %}
            {{ include('LesAutresSiteBundle:Default:event.html.twig', {'event': event}) }}
        {% endfor %}
    {% endif %}
{% endblock %}
