<!DOCTYPE html>
<html lang="fr">
    <head>
        
        <!-- meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="La Compagnie des Autres" />
        <meta name="keywords" content="{% if keywords is defined %}{{ keywords }}{% endif %}" />
        <title>{{ title }} - la Compagnie des Autres</title>
        <link rel="alternate" type="application/atom+xml" title="Flux atom des événements" href="{{ path('feed_events', {'type': 'atom'}) }}" />
        <!-- <link rel="alternate" type="application/rss+xml" title="Flux RSS des événements" href="" /> -->
        
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/main.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/layout.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/page.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/li-scroller.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/print.css') }}" media="print" />
        
        <!-- javascript -->
        <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/jquery.li-scroller.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/jquery.slideshow.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/init.js') }}"></script>
        
    </head>
    <body>
        <!-- begin google analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41036168-1', 'lesautres.org');
            ga('send', 'pageview');
        </script>
        <!-- end google analytics -->
        
        <div class="site">
            
            <!-- begin left column -->
            <div class="leftcolumn">
                <img src="/images/logo/logo_puzzle.png" width="175" height="161" alt="Logo puzzle" class="logo" />
                {% if not menu_underline_slug is defined %}{% set menu_underline_slug = '' %}{% endif %}
                {{ render(controller('LesAutresSiteBundle:Default:menu', {'menu_underline_slug': menu_underline_slug})) }}
                <div class="infos">
                    <p>
                        Le {{ today() }}
                    </p>
                    <p>
                        <img src="/images/logo/logo_compagnie.png" width="150" height="107" alt="Logo compagnie" />
                    </p>
                    <p>
                        <span class="bold">PROFESSIONNELS DE&nbsp;THÉÂTRE</span><br/>
                        77, rue Cottier<br/>
                        84 200 Carpentras<br/>
                    </p>
                    <p>
                        <span class="m" style="cielesautres:wanadoo.fr">email</span>
                    </p>
                </div>
            </div>
            <!-- end left column -->
            
            <!-- begin right column -->
            <div class="rightcolumn">
                <ul id="scrollingtext">
                    <li><span>Du 9 au 31 juillet Avignon festival Off - Diatribe amoureuse de Gabriel Garcia Marquez à l'Espace du Pont d'Avignon, jours impairs à 16h</span></li>
                </ul>
                <div class="title">
                    <span class="bold">la Compagnie des Autres, théâtre professionnel en Provence</span><br/>
                    <span class="italic">formation  diffusion  jeu  création  mise en scène  joker animation</span>
                </div>
                <div class="page">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="agenda">
                    <div class="agenda_title">NOS PROCHAINS RENDEZ-VOUS</div>
                    {{ render(controller('LesAutresSiteBundle:Default:nextEvents')) }}
                </div>
                <div class="slideshow" id="slideshow">
                    {{ render(controller('LesAutresSiteBundle:Default:slideshow', {'page_slug': menu_underline_slug})) }}
                </div>
            </div>
            <!-- end right column -->
            
            <!-- begin footer -->
            <div class="footer">
                Copyright © 2010-2013 - la Compagnie des Autres - Tous Droits Réservés
            </div>
            <!-- end footer -->
            
        </div>
    </body>
</html>
