<!DOCTYPE html>
<html lang="fr">
    <head>
        
        <!-- meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{% if description is defined %}{{ description }}{% endif %}" />
        <meta name="keywords" content="{% if keywords is defined %}{{ keywords }}{% endif %}" />
        <meta name="viewport" content="width=device-width"/>
        <title>{% block title %}{{ title }}{% endblock %} - la Compagnie des Autres</title>
        <link rel="alternate" type="application/atom+xml" title="Flux Atom des événements" href="{{ path('feed_events', {'type': 'atom'}) }}" />
        <link rel="alternate" type="application/rss+xml" title="Flux RSS des événements" href="{{ path('feed_events', {'type': 'rss'}) }}" />
        
        <!-- dublin core -->
        <meta name="dcterms.title" lang="fr" content="{{ title }}" />
        <meta name="dcterms.creator" content="Compagnie des Autres" />
        <meta name="dcterms.description" lang="fr" content="{% if description is defined %}{{ description }}{% endif %}" />
        <meta name="dcterms.publisher" content="Compagnie des Autres" />
        <meta name="dcterms.language" content="fr-FR" />
        <meta name="dcterms.format" content="text/html" />
        
        <!-- css -->
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('/css/main.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen and (min-width: 640px)" href="{{ asset('/css/layout.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 640px)" href="{{ asset('/css/mobile.css') }}" />
        <link rel="stylesheet" type="text/css" media="print" href="{{ asset('/css/print.css') }}" />
        
        <!-- google analytics -->
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-41036168-1']);
            _gaq.push(['_setDomainName', 'lesautres.org']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41036168-1', 'lesautres.org');
            ga('send', 'pageview');
        </script>
        
    </head>
    <body>
        
        <div class="site">
            
            <!-- begin left column -->
            <div class="leftcolumn">
                <a href="{{ path('homepage') }}" title="Vers la page d'accueil"><img src="/images/logo/logo_puzzle.png" width="175" height="161" alt="Logo puzzle" class="logo" /></a>
                <div class="social_links">
                    <a href="https://www.facebook.com/pages/Compagnie-des-Autres/525805364134992" target="_blank" title="Facebook"><img width="36" height="36" src="/images/icons/facebook.png" alt="Lien Facebook" /></a>
                    <a href="https://twitter.com/cielesautres" target="_blank" title="Twitter"><img width="36" height="36" src="/images/icons/twitter.png" alt="Lien Twitter" /></a>
                    <a href="https://plus.google.com/109770205102288333062?rel=publisher" target="_blank" title="Google +"><img width="36" height="36" src="/images/icons/google.png" alt="Lien Google +" /></a>
                    <a href="{{ path('feed_events', {'type': 'atom'}) }}" title="Flux RSS/Atom des événements"><img width="36" height="36" src="/images/icons/rss.png" alt="Flux Atom" /></a>
                </div>
                {% if not menu_underline_slug is defined %}{% set menu_underline_slug = '' %}{% endif %}
                {{ render(controller('LesAutresSiteBundle:Default:menu', {'menu_underline_slug': menu_underline_slug})) }}
                <div class="infos" itemscope itemtype="http://schema.org/Organization">
                    <p>
                        Le {{ today() }}
                    </p>
                    <p>
                        <span itemprop="name" class="hidden">Compagnie des Autres</span>
                        <a href="{{ path('homepage') }}" title="Vers la page d'accueil">
                            <img itemprop="logo" src="/images/logo/logo_compagnie.png" width="150" height="107" alt="Compagnie des Autres" />
                        </a>
                    </p>
                    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span class="bold">PROFESSIONNELS DE&nbsp;THÉÂTRE</span><br/>
                        <span itemprop="streetAddress">77, rue Cottier</span><br/>
                        <span itemprop="postalCode">84 200</span>
                        <span itemprop="addressLocality">Carpentras</span><br/>
                        <span itemprop="addressRegion" class="hidden">Provence-Alpes-Côte-d'Azur</span>
                        <span itemprop="addressCountry" class="hidden">France</span>
                    </p>
                    <p>
                        <a href="{{ path('contact_form') }}">Nous contacter</a>
                    </p>
                </div>
            </div>
            <!-- end left column -->
            
            <!-- begin right column -->
            <div class="rightcolumn">
                <!--<ul id="scrollingtext">
                    <li><span>texte</span></li>
                </ul>-->
                <div class="scroller">
                    <p class="marquee">Prochaines créations : "Dans l'Œil du Loup" et un théâtre forum sur les violences contre les femmes</p>
                </div>
                <div class="title">
                    <span class="bold">la Compagnie des Autres, théâtre professionnel en Provence</span><br/>
                    <span class="italic">formation  diffusion  jeu  création  mise en scène  joker animation</span>
                </div>
                <div class="page">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="agenda">
                    <div class="agenda_title">NOS PROCHAINS RENDEZ-VOUS</div>
                    {{ render(controller('LesAutresSiteBundle:Default:nextEvents')) }}
                </div>
                <div class="slideshow" id="slideshow">
                    {{ render(controller('LesAutresSiteBundle:Default:slideshow', {'page_slug': menu_underline_slug})) }}
                </div>
            </div>
            <!-- end right column -->
            
            <!-- begin footer -->
            <div class="footer">
                Copyright&nbsp;©2010-2013 - la&nbsp;Compagnie&nbsp;des&nbsp;Autres - Tous&nbsp;Droits&nbsp;Réservés
            </div>
            <!-- end footer -->
            
        </div>
        
        <!-- javascript -->
        <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/jquery.slideshow.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/init.js') }}"></script>
        
    </body>
</html>
