{% extends 'LesAutresSiteBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul>
    {% for date in dates %}
        {% if date.event and date.event.show %}
            <li>{{ date.event.place }}, {{ date }} : <a href="{{ path('show', {'slug': date.event.show.slug}) }}">{{ date.event.show }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}
