<div class="frame" itemscope itemtype="http://schema.org/TheaterEvent">
    <div class="place">
        <div class="googlemaps">
            <a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;q={{ event.place.street|replace({' ': '%20'}) }},%20{{ event.place.zipcode }}%20{{ event.place.city|replace({' ': '%20'}) }},%20France&amp;ie=UTF8&amp;z=14&amp;t=m&amp;iwloc=near" target="_blank">
                <img src="http://staticmap.openstreetmap.de/staticmap.php?center={{ event.place.latitude }},{{ event.place.longitude }}&zoom={{ event.place.zoom }}&size=200x200&markers={{ event.place.latitude }},{{ event.place.longitude }},ol-marker-blue" alt="Carte" width="200" height="200" /><br/>
                Afficher le plan
            </a>
        </div>
    </div>
    <div class="date">
        <p itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="name" class="bold">{{ event.place }}</span><br/>
            <span itemprop="streetAddress">{{ event.place.street }}</span><br/>
            <span itemprop="postalCode">{{ event.place.zipcode }}</span>
            <span itemprop="addressLocality">{{ event.place.city }}</span>
            <span itemprop="addressCountry" class="hidden">France</span>
        </p>
        {% if event.title or event.description %}
            <p>
                {% if event.title %}<span itemprop="name" class="bold">{{ event.title }}</span><br/>{% endif %}
                {% if event.description %}<span itemprop="description">{{ event.description }}</span>{% endif %}
            </p>
        {% endif %}
        <ul>
            {% for date in event.datesAfterNow %}
                <li>{{ date }}<span itemprop="startDate" class="hidden">{{ date.date.format(constant('DATE_ISO8601')) }}</span></li>
            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
</div>