{% extends 'LesAutresSiteBundle::layout.html.twig' %}

{% block content %}
    {{ include('LesAutresSiteBundle:Default:social.html.twig', {'url': app.request.scheme ~ '://' ~ app.request.httpHost ~ path('show', {'slug': show.slug})}) }}
    <h1>{{ title }}</h1>
    {% if show.duration or show.actorCount or show.masterCount or show.playletCount %}
        <ul>
            {% if show.duration %}<li>Durée : {{ formatTime(show.duration) }}</li>{% endif %}
            {% if show.actorCount %}<li>{{ show.actorCount }} comédien{% if show.actorCount > 1 %}s{% endif %}</li>{% endif %}
            {% if show.masterCount %}<li>{{ show.masterCount }} meneur{% if show.masterCount > 1 %}s{% endif %} de jeu</li>{% endif %}
            {% if show.playletCount %}<li>{{ show.playletCount }} saynète{% if show.playletCount > 1 %}s{% endif %}</li>{% endif %}
        </ul>
    {% endif %}
    {{ show.text|raw }}
    {% if show.events %}
        <h2>Prochaines dates</h2>
        <ul>
        {% for event in show.events %}
            {% for date in event.dates %}
                <li>{{ event.place }}, {{ date }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ path('page', {'slug': show.page.slug}) }}">{{ show.page }}</a>
{% endblock %}
