<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">

<channel>
    <atom:link href="{{ path('feed_events', {'type': 'rss'}) }}" rel="self" type="application/rss+xml" />
    <title>la Compagnie des Autres</title>
    <link>{{ url('homepage') }}</link>
    <description>théâtre professionnel en Provence</description>
    {% for event in events %}
        <item>
            <title>{{ event }}</title>
            <link>{{ url('show', { 'slug': event.show.slug}) }}</link>
            <guid>{{ url('show', { 'slug': event.show.slug}) }}?id={{ event.id }}</guid>
            <description>
                    &lt;p&gt;{{ event.description }}&lt;/p&gt;
                    &lt;h2&gt;Spectacle&lt;/h2&gt;
                    &lt;p&gt;{{ event.show }}&lt;/p&gt;
                    &lt;h2&gt;Lieu&lt;/h2&gt;
                    &lt;p&gt;
                        {{ event.place }}&lt;br/&gt;
                        {{ event.place.street }}&lt;br/&gt;
                        {{ event.place.zipcode }} {{ event.place.city }}
                    &lt;/p&gt;
                    &lt;h2&gt;Dates&lt;/h2&gt;
                    &lt;ul&gt;
                        {% for date in event.dates %}
                            &lt;li&gt;{{ date }}&lt;/li&gt;
                        {% endfor %}
                    &lt;/ul&gt;
            </description>
            <pubDate>{{ event.updatedAt.format(constant('DATE_RSS')) }}</pubDate> 
        </item>
    {% endfor %}
</channel>

</rss>